
/* line 286 : F:\web_file\src\stylus\toolbar.styl */

/* line 1 : F:\web_file\node_modules\gulp-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : F:\web_file\src\stylus\toolbar.styl */
@charset "UTF-8";

/* line 6 : F:\web_file\src\stylus\toolbar.styl */
ul,
li,
ol,
dl,
dt,
dd {
  list-style-type: none;
}

/* line 8 : F:\web_file\src\stylus\toolbar.styl */
.toolbar {
  position: fixed;
  left: 50%;
  bottom: 50%;
}

/* line 12 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li {
  display: block;
}

/* line 14 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item,
.toolbar ul li .toolbar-item:before {
  display: block;
  width: 52px;
  height: 52px;
  background: url("/images/toolbar.png") no-repeat;
  margin-top: 1px;
  position: relative;
  transition: all 0.4s linear;
}

/* line 22 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-weixin {
  background-position: 0 -798px;
}

/* line 24 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-feedback {
  background-position: 0 -426px;
}

/* line 26 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-app {
  background-position: 0 -550px;
}

/* line 28 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-top {
  background-position: 0 -674px;
}

/* line 30 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=opacity*100);
}

/* line 37 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-weixin:before {
  background-position: 0 -860px;
}

/* line 39 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-feedback:before {
  background-position: 0 -488px;
}

/* line 41 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-app:before {
  background-position: 0 -612px;
}

/* line 43 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item-top:before {
  background-position: 0 -736px;
}

/* line 45 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item:hover:before {
  opacity: 1;
  filter: alpha(opacity=opacity*100);
}

/* line 47 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item:after {
  display: block;
  width: 172px;
  background: url("/images/toolbar.png") no-repeat;
  position: absolute;
  right: 46px;
  bottom: -10px;
  transition: all 0.4s linear;
  content: ' ';
  transform: scale(0);
}

/* line 57 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-layer-public:after {
  background-position: 0 0;
  height: 212px;
}

/* line 60 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-layer-mobile:after {
  background-position: 0 -222px;
  height: 194px;
}

/* line 63 : F:\web_file\src\stylus\toolbar.styl */
.toolbar ul li .toolbar-item:hover:after {
  transform: scale(1);
}
