@-webkit-keyframes person-slow {
   0% {
       background-position: -0px -291px;
   }
   25% {
       background-position: -602px -0px;
   }
   50% {
       background-position: -302px -291px;
   }
   75% {
       background-position: -151px -291px;
   }
   100% {
       background-position: -0px -291px;
   }
}

@-moz-keyframes person-slow {
   0% {
       background-position: -0px -291px;
   }
   25% {
       background-position: -602px -0px;
   }
   50% {
       background-position: -302px -291px;
   }
   75% {
       background-position: -151px -291px;
   }
   100% {
       background-position: -0px -291px;
   }
}


@-webkit-keyframes sun-move {
    0% {
        transform: translateX(0) translateY(0)
    }
    100% {
        transform: translateX(-2000px) translateY(400px)
    }
}

@-moz-keyframes sun-move {
    0% {
        transform: translateX(0) translateY(0)
    }
    100% {
        transform: translateX(-2000px) translateY(400px)
    }
}


@-webkit-keyframes smallCloud {
    0% {
        left: -5%
    }
    100% {
        left: 100%
    }
}

@-moz-keyframes smallCloud {
    0% {
        left: -5%
    }
    100% {
        left: 100%
    }
}


@-webkit-keyframes largeCloud {
    0% {
        right: -5%
    }
    100% {
        right: 100%
    }
}

@-moz-keyframes largeCloud {
    0% {
        right: -5%
    }
    100% {
        right: 100%
    }
}