
/* line 286 : F:\web_game\src\stylus\h5game.styl */

/* line 1 : F:\web_game\node_modules\gulp-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 16 : F:\web_game\src\stylus\h5game.styl */
body {
  background-color: #f06060;
  color: #fff;
  font: 12px/1.5 "微软雅黑";
  margin: 0;
}

/* line 21 : F:\web_game\src\stylus\h5game.styl */

/* line 22 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap .btn {
  display: block;
  background-color: #fcad26;
  margin: 10px 30px;
  width: 220px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  font-family: "微软雅黑";
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 5px #da9622;
  -webkit-box-shadow: 0 5px #da9622;
  -moz-border-radius: 0 5px #da9622;
  border: none;
  position: relative;
  pointer: cursor;
  letter-spacing: 1px;
  outline: 0;
}

/* line 44 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap .hide {
  display: none;
}

/* line 46 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap .page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 52 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #loading {
  text-align: center;
  font-size: 30px;
}

/* line 55 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #loading .loading-txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  height: 100px;
  width: 100%;
  margin: auto;
}

/* line 64 : F:\web_game\src\stylus\h5game.styl */

/* line 65 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #index h1 {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 1px #ab3c3c 3;
}

/* line 70 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #index .intro {
  font-size: 16px;
  text-align: center;
  opacity: 0.5;
}

/* line 74 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #index .btns {
  position: absolute;
  bottom: 10px;
  height: 210px;
  text-align: center;
  width: 100%;
  color: #fff;
}

/* line 81 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #index .btns .btn {
  margin: 0 auto 18px;
}

/* line 83 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #index .btns .btn-new {
  background-color: #5cbcf6;
  box-shadow: 0 5px #49a7df;
  -webkit-box-shadow: 0 5px #49a7df;
  -moz-box-shadow: 0 5px #49a7df;
}

/* line 88 : F:\web_game\src\stylus\h5game.styl */

/* line 89 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #ffa1a1;
}

/* line 99 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main header .score {
  position: absolute;
  top: 0;
  left: 10px;
}

/* line 103 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main header .score em {
  font-style: normal;
}

/* line 105 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main header .time {
  padding: 0 10px;
  font-weight: 500;
  font-size: 20px;
  background-color: #fd9090;
  color: #ffcaca;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

/* line 114 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main header .danger {
  color: #ff0505;
  background-color: #fff;
}

/* line 117 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main header .btn-pause {
  position: absolute;
  top: 5px;
  right: 10px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0;
  font-weight: bold;
}

/* line 127 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main #box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ddd;
}

/* line 139 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main #box span {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: block;
  float: left;
}

/* line 148 : F:\web_game\src\stylus\h5game.styl */

/* line 149 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv2 span {
  width: 50%;
  height: 50%;
}

/* line 152 : F:\web_game\src\stylus\h5game.styl */

/* line 153 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv3 span {
  width: 33.33%;
  height: 33.33%;
}

/* line 156 : F:\web_game\src\stylus\h5game.styl */

/* line 157 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv4 span {
  width: 25%;
  height: 25%;
}

/* line 160 : F:\web_game\src\stylus\h5game.styl */

/* line 161 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv5 span {
  width: 20%;
  height: 20%;
}

/* line 164 : F:\web_game\src\stylus\h5game.styl */

/* line 165 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv6 span {
  width: 16.66%;
  height: 16.66%;
}

/* line 168 : F:\web_game\src\stylus\h5game.styl */

/* line 169 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv7 span {
  width: 14.28%;
  height: 14.28%;
}

/* line 172 : F:\web_game\src\stylus\h5game.styl */

/* line 173 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv8 span {
  width: 12.5%;
  height: 12.5%;
}

/* line 176 : F:\web_game\src\stylus\h5game.styl */

/* line 177 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv9 span {
  width: 11.11%;
  height: 11.11%;
}

/* line 180 : F:\web_game\src\stylus\h5game.styl */

/* line 181 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #main .lv10 span {
  width: 10%;
  height: 10%;
}

/* line 184 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog {
  background-color: #a74343;
  padding-top: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 189 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .btn {
  margin: 15px auto;
}

/* line 191 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner {
  height: 617px;
  width: 375px;
  text-align: center;
  font-size: 20px;
}

/* line 196 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content {
  padding-top: 30px;
}

/* line 198 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 270px;
  width: 100%;
  margin: auto;
}

/* line 207 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content h3 {
  color: #321;
  font-size: 40px;
  margin: 0;
  line-height: 60px;
}

/* line 212 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content .btn-wrap {
  width: 220px;
  margin: 0 auto;
}

/* line 215 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content .btn-wrap .btn {
  width: 105px;
  float: left;
}

/* line 218 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content .btn-wrap .btn-restart {
  margin-left: 10px;
}

/* line 220 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content .btn-more {
  text-decoration: none;
}

/* line 222 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog .inner .content .inner-content .clearfix:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}

/* line 227 : F:\web_game\src\stylus\h5game.styl */
body .game-wrap #dialog:after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: " ";
  width: 90px;
  height: 75px;
}
