
/* line 286 : F:\web_game\src\stylus\keyframe.styl */

/* line 1 : F:\web_game\node_modules\gulp-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : F:\web_game\src\stylus\keyframe.styl */
@-webkit-keyframes person-slow {

/* line 2 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    background-position: 0px -291px;
  }

/* line 5 : F:\web_game\src\stylus\keyframe.styl */
  25% {
    background-position: -602px 0px;
  }

/* line 8 : F:\web_game\src\stylus\keyframe.styl */
  50% {
    background-position: -302px -291px;
  }

/* line 11 : F:\web_game\src\stylus\keyframe.styl */
  75% {
    background-position: -151px -291px;
  }

/* line 14 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    background-position: 0px -291px;
  }
}

/* line 19 : F:\web_game\src\stylus\keyframe.styl */
@-moz-keyframes person-slow {

/* line 20 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    background-position: 0px -291px;
  }

/* line 23 : F:\web_game\src\stylus\keyframe.styl */
  25% {
    background-position: -602px 0px;
  }

/* line 26 : F:\web_game\src\stylus\keyframe.styl */
  50% {
    background-position: -302px -291px;
  }

/* line 29 : F:\web_game\src\stylus\keyframe.styl */
  75% {
    background-position: -151px -291px;
  }

/* line 32 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    background-position: 0px -291px;
  }
}

/* line 37 : F:\web_game\src\stylus\keyframe.styl */
@-webkit-keyframes person-flower {

/* line 38 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    background-position: -906px 0px;
  }

/* line 41 : F:\web_game\src\stylus\keyframe.styl */
  25% {
    background-position: -453px 0px;
  }

/* line 44 : F:\web_game\src\stylus\keyframe.styl */
  50% {
    background-position: -755px 0px;
  }

/* line 47 : F:\web_game\src\stylus\keyframe.styl */
  75% {
    background-position: -302px 0px;
  }

/* line 50 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    background-position: -906px 0px;
  }
}

/* line 55 : F:\web_game\src\stylus\keyframe.styl */
@-moz-keyframes person-flower {

/* line 56 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    background-position: -906px 0px;
  }

/* line 59 : F:\web_game\src\stylus\keyframe.styl */
  25% {
    background-position: -453px 0px;
  }

/* line 62 : F:\web_game\src\stylus\keyframe.styl */
  50% {
    background-position: -755px 0px;
  }

/* line 65 : F:\web_game\src\stylus\keyframe.styl */
  75% {
    background-position: -302px 0px;
  }

/* line 68 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    background-position: -906px 0px;
  }
}

/* line 74 : F:\web_game\src\stylus\keyframe.styl */
@-webkit-keyframes sun-move {

/* line 75 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    transform: translateX(0) translateY(0);
  }

/* line 78 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    transform: translateX(-2000px) translateY(400px);
  }
}

/* line 83 : F:\web_game\src\stylus\keyframe.styl */
@-moz-keyframes sun-move {

/* line 84 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    transform: translateX(0) translateY(0);
  }

/* line 87 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    transform: translateX(-2000px) translateY(400px);
  }
}

/* line 93 : F:\web_game\src\stylus\keyframe.styl */
@-webkit-keyframes smallCloud {

/* line 94 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    left: 5%;
  }

/* line 97 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    left: 100%;
  }
}

/* line 102 : F:\web_game\src\stylus\keyframe.styl */
@-moz-keyframes smallCloud {

/* line 103 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    left: 5%;
  }

/* line 106 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    left: 100%;
  }
}

/* line 112 : F:\web_game\src\stylus\keyframe.styl */
@-webkit-keyframes largeCloud {

/* line 113 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    right: 5%;
  }

/* line 116 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    right: 100%;
  }
}

/* line 121 : F:\web_game\src\stylus\keyframe.styl */
@-moz-keyframes largeCloud {

/* line 122 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    right: 5%;
  }

/* line 125 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    right: 100%;
  }
}

/* line 131 : F:\web_game\src\stylus\keyframe.styl */
@-webkit-keyframes birdFly {

/* line 132 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    background-position: 0 0;
  }

/* line 135 : F:\web_game\src\stylus\keyframe.styl */
  25% {
    background-position: -91px 0;
  }

/* line 138 : F:\web_game\src\stylus\keyframe.styl */
  50% {
    background-position: -182px 0;
  }

/* line 141 : F:\web_game\src\stylus\keyframe.styl */
  75% {
    background-position: -91px 0;
  }

/* line 144 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    background-position: 0 0;
  }
}

/* line 149 : F:\web_game\src\stylus\keyframe.styl */
@-moz-keyframes birdFly {

/* line 150 : F:\web_game\src\stylus\keyframe.styl */
  0% {
    background-position: 0 0;
  }

/* line 153 : F:\web_game\src\stylus\keyframe.styl */
  25% {
    background-position: -91px 0;
  }

/* line 156 : F:\web_game\src\stylus\keyframe.styl */
  50% {
    background-position: -182px 0;
  }

/* line 159 : F:\web_game\src\stylus\keyframe.styl */
  75% {
    background-position: -91px 0;
  }

/* line 162 : F:\web_game\src\stylus\keyframe.styl */
  100% {
    background-position: 0 0;
  }
}
